.sprite {
  background-image: url('../../assets/chess.svg');
  background-size: 600% 200%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: var(--shadow-piece-filter);
}

.sprite[data-side='black'] {
  filter: var(--shadow-piece-filter-black);
}
